<!DOCTYPE html>
<html>
 　<head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <link rel="stylesheet" type="text/css" href="/demo/stylesheet/style.css" />
   　</head>
    　
    　<body>
        <div id="all">
<div id="header">
    <ul id="top-nav">
        <li>
            <a href="/demo/index.html">首页</a>
        </li>
        <li>
            <a href="/demo/wiki_html/1.html">笔记</a>

        </li>
        <li>
            <a href="diary/diary.html">日记</a>
        </li>
    </ul>
</div>

      　{{ content }}
     　</body>
    </html>
